.container
{
    max-height: 900px;
    max-width: 900px;
}

.rowth
{
    padding: 10px;
    justify-self: center;
}

.cell
{
    aspect-ratio: 1 / 1;
    display: flex; /* Make cells flex containers */
    justify-content: center;
    align-items: center;
    border: 1px solid black; /* Add a border for visibility */
}

.light
{
    background-color: azure;
}

.dark
{
    background-color: lightskyblue;
}

.piece
{
    height: 50%;
    width: 50%;
    border: 2px solid;
    align-content: center;
    text-align: center;
}

.path-marker
{
    height: 25%;
    width: 25%;
    border: 5px solid green;
    align-content: center;
}

.white
{
    color: black;
    background-color: white;
    border-radius: 50%;
}

.black
{
    color: white;
    background-color: black;
    border-radius: 50%;
}